# ignore env files
Reddit Info.env

# Ignore jupyter lab checkpoints
.ipynb_checkpoints/
Reddit-PRAW-tutorial.ipynb

# Ignore virtual documents
.virtual_documents/

# Ignore datasets
data/

# Ignore all models
Models/

# Ignore all image files
Images/

# Ignore specific notebooks
Reddit-PRAW-tutorial.ipynb
